@charset "UTF-8";

/*versão tablet*/

@media screen and (min-width:768px) {
    .texto h1 {
        font-size: 2em;
    }
    
    .sobre-conteudo {
        flex-wrap: nowrap;
    }

    .sobre .imagem img {
        display: block;
        width: 250px;
        height: 250px;
    }

    .sobre .habilidades {
        display: block;
    }

    .container-proj {
        display: block;
    }

    
}

@media screen and (min-width: 992px) {
    .texto h1 {
        text-align: center;
    }

    .texto p {
        text-align: center;
        font-size: 1.2em;
        
    }

}