@charset "UTF-8";

/*versão tablet*/

html {
    scroll-behavior: smooth;
}

@media screen and (min-width:768px) {

    .imagem-topo img {
        display: none;
    }

   .imagem-topo .habilidades {
    display: none;
   }
    .texto h2 {
        font-size: 2em;
    }
    
    .sobre-conteudo {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .sobre .imagem img {
        display: block;
        max-width: 300px;
        height: 300px;
        margin-left: 30px;
    }

    .sobre .habilidades {
        display: block;
    }

    .container-proj {
        display: block;
    }

    
}

/*Versão para telas maiores*/
@media screen and (min-width: 992px) {
    .texto h2 {
        text-align: center;
    }

    .texto p {
        text-align: center;
        font-size: 1.2em;
        
    }

}