@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --cor-principal:#324EFA;
    --cor-secundaria: #001DFA;
    --cor-fundo: white;
    --fonte-principal:'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, var(--cor-principal), #4195FA);
    color: white;
}

header h1 {
    font-family: var(--fonte-principal);
    font-size: 2.5em;
    width: 100%;
    margin-bottom: 10px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto 15px;
    font-weight: 300;
}


header nav a {
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.3em;
    margin: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #001DFA;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    color: #001DFA;
}

/* Sobre mim*/

.sobre {
    background-color: #fff;
    padding: 60px 10px;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;
}

.sobre .texto h1 {
    font-family: var(--fonte-principal);
    flex: 1;
    min-width: 280px;
    font-size: 2em;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}

.sobre .texto p {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.6;
}

.sobre .habilidades {
    display: none;
    font-weight: 600;
    color: var(--cor-principal);
    margin-top: 20px;
}

/* Imagem / Habilidades*/
.sobre .imagem {
    flex: 1;
    text-align: center; 
}

.imagem img {
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.sobre .imagem img:hover {
    transform: scale(1.05);
}

.imagem p {
    margin-top: 10px;
    font-weight: 500;
}