@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root {
    --cor-principal:#324EFA;
    --cor-secundaria: #001DFA;
    --cor-fundo: white;
    --fonte-principal:'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, var(--cor-principal), #4195FA);
    color: white;
}

header h1 {
    font-family: var(--fonte-principal);
    font-size: 2.5em;
    width: 100%;
    margin-bottom: 10px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto 15px;
    font-weight: 300;
}


header nav a {
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 1.3em;
    margin: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #001DFA;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    color: #001DFA;
}

.imagem-topo img {
    margin-top: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

/* Sobre mim*/

.sobre {
    background-color: #fff;
    padding: 60px 10px;
}

.sobre-conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;
}

.texto h1 {
    font-family: var(--fonte-principal);
    flex: 1;
    min-width: 280px;
    font-size: 1.4em;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    
}

.texto p {
    margin-bottom: 10px;
    font-size: 0.94em;
    line-height: 1.6;
}

.sobre .habilidades {
    display: none;
    font-weight: 600;
    color: var(--cor-principal);
    margin-top: 20px;
}

/* Imagem / Habilidades*/
.sobre .imagem {
    flex: 1;
    text-align: center; 
}

.imagem img {
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.sobre .imagem img:hover {
    transform: scale(1.05);
}

.imagem p {
    margin-top: 10px;
    font-weight: 500;
}

/* projeto-info*/


.container-proj {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
    flex-wrap: wrap;
    padding: 10px;
}

.projeto-info {
    padding: 10px;
    max-width: 70%;
}

ul.tags {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding: 30px 10px;
}

ul.tags li {
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    font-weight: bold;
}

div#imagem {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

div#imagem::-webkit-scrollbar {
    height: 8px;
}

div#imagem::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 4px;
}

div#imagem img {
    width: 280px;
    flex-shrink: 0;
    border-radius: 15px;
    scroll-snap-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    transition: transform 0.3s ease;
}

div#imagem img:hover {
    transform: scale(1.05);
}

div#botoes {
    justify-content: center;
    font-size: 1.1em;
    font-family: var(--fonte-principal);
    display: flex;
    gap: 15px;
}

div#botoes a {
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background:linear-gradient(135deg, var(--cor-principal), #4195FA);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.164);
    transition: all 0.3s ease;
}

div#botoes a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}


section#contato {
    background: linear-gradient(to top, var(--cor-principal), #4195FA);
    text-align: center;
    margin-top: 20px;
}

section#contato h1 {
    font-family: var(--fonte-principal);
    font-size: 1.4em;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contato .links a{
    background-color: white;
    padding: 10px;
    color: #001DFA;
    border-radius: 10px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: bold;
}

#contato .links a:hover {
    background-color: #001DFA;
    color: white;
    transition: .3s;
    text-decoration: underline;
}


footer {
    background-color: var(--cor-principal);
    padding: 20px;
}
footer p {
    text-align: center;
    color: white;
    font-weight: bold;
}
